Repository caicloud/loadbalancer-controller, pull requests merged in 2019-08, with the labels that each got.

#106 chore: OWNERS + hicaistar and sinksmell
  OWNERS
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#108 feat: add http and https port for lb
  pkg/proxy/nginx/ingress.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#103 feat(ingress): add http and https port for ingressContainer
  Gopkg.lock
  pkg/proxy/nginx/ingress.go
  vendor/github.com/caicloud/clientset/kubernetes/typed/resource/v1beta1/network.go
  vendor/github.com/caicloud/clientset/pkg/apis/loadbalance/v1alpha2/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/network.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/storage.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/tenant/v1alpha1/type.go
  vendor/github.com/caicloud/clientset/util/event/event.go
  vendor/github.com/caicloud/clientset/util/status/pod.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#110 chore(vendor): update clientset to support httport and portrange
  Gopkg.lock
  pkg/proxy/nginx/ingress.go
  vendor/github.com/caicloud/clientset/pkg/apis/loadbalance/v1alpha2/types.go
  vendor/github.com/caicloud/clientset/pkg/apis/loadbalance/v1alpha2/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/cluster.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/const.go
  vendor/github.com/caicloud/clientset/pkg/apis/resource/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/caicloud/clientset/util/status/pod.go
  vendor/github.com/caicloud/clientset/util/status/pod_event.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#109 feat: add priority class
  pkg/provider/ipvsdr/ipvsdr.go
  pkg/proxy/nginx/ingress.go
  release/loadbalancer-controller.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#111 feat: delete Jenkinsfile
  Jenkinsfile
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M
