Repository caicloud/loadbalancer-controller, pull requests merged in 2020-06, with the labels that each got.

#169 feat: clean 3 timeout configuration if not set by CPS lb
  pkg/proxy/nginx/config.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#175 feat(appgateway): use azure app-gateway as provider
  pkg/provider/azure/azure.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#176 [CPS-7306]fix: false live state caused by leaderelection
  cmd/controller/main.go
  go.mod
  go.sum
  vendor/github.com/caicloud/go-common/signal/stopsignal.go
  vendor/github.com/caicloud/go-common/signal/stopsignal_posix.go
  vendor/github.com/caicloud/go-common/signal/stopsignal_windows.go
  vendor/modules.txt
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M

#178 fix: fix broken custom lb config caused by eb249d69
  pkg/proxy/nginx/config.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#181 fix(resource): increate limits and requests
  release/loadbalancer-controller.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#183 chore(nginx): bump up ingress-nginx version
  release/loadbalancer-controller.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS
